<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>echarts-items</title>
    <!-- iconfont core CSS -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_598042_qk13ujwryxlgnwmi.css">
    <!-- Bootstrap core CSS -->
    <link href="../../static/css/boostrap-eacharts.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron-narrow-echarts.css" rel="stylesheet">
    <link href="../../static/css/echarts-item.css" rel="stylesheet">
    <!-- echarts styles for this template -->
    <script src="https://cdn.bootcss.com/echarts/4.0.4/echarts-en.common.min.js"></script>
    <script src="../../static/js/echarts-item.js"></script>
</head>

<body>

<div class="container">
    <div class="top">
        <div class="top-left">
            <img src="../../static/images/echarts-pic1.png" alt="">
        </div>
        <div class="top-right">
            <i class="icon iconfont icon-tubiao01"></i>
            <i class="icon iconfont icon-lingdang"></i>
            <button>Log Out</button>
        </div>
    </div>
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">DASHBOARD</a></li>
                <li role="presentation"><a href="#">PROJECTS</a></li>
                <li role="presentation"><a href="#">CALENDAR</a></li>
                <li role="presentation"><a href="#">MAILBOX</a></li>
                <li role="presentation"><a href="#">SETTINGS</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">
            <span>Audience Overview</span>
            <em>Roseville, CA</em>
        </h3>
    </div>
    <div class="content">
        <div class="content-neirong">
            <div class="one">
                <div id="main1" class="box1"></div>
                <div id="main2" class="box2"></div>
                <div id="main3" class="box3"></div>
                <div id="main4" class="box4"></div>
                <p class="nei-one">Pageviews by users (Past 24 hours)</p>
                <p class="nei-two">Total / Out of 6.356 views</p>
            </div>
            <div class="two">
                <div class="two-left">
                     <div id="main5" class="box5"></div>
                     <p>Pageviews by users (past 5 days)</p>
                     <p><i>23:01:04</i><span>TIME LEFT</span></p>
                     <p><i>$15,596</i><span>TOTAL EARNED</span></p>
                     <p>
                        <i>$3,596</i>
                        <span>TOTAL SPENT</span>
                     </p>
                </div>
                <div class="two-right">
                     <div id="main6" class="box6"></div>
                     <i class="icon iconfont icon-tubiao01"></i>
                     <p><span>DAILY</span><span>MONTHLY</span><span>YEARLY</span></p>
                </div>
            </div>
            <div class="three">
                <div class="three-left">
                    <div id="three1" class="three1s"></div>
                    <p>Analytics</p>
                    <i class="icon iconfont icon-tubiao01"></i>
                </div>
                <div class="three-right">
                    <div class="three-top">
                        <span>Support Requests</span>
                        <button>View All</button>
                    </div>
                    <ul>
                        <li>
                            <p><span>TIME</span> <span>USER NAME</span> <span>STATUS</span></p>
                        </li>
                        <li>
                            <p><span>9:45pm</span> <span>info@design.com</span> <button>Solved</button></p>
                        </li>
                        <li>
                            <p><span>9:45pm</span> <span>info@design.com</span> <button>Solved</button></p>
                        </li>
                        <li>
                            <p><span>9:45pm</span> <span>info@design.com</span> <button>Solved</button></p>
                        </li>
                        <li>
                            <p><span>9:45pm</span> <span>info@design.com</span> <button>Solved</button></p>
                        </li>
                        <li>
                            <p><span>9:45pm</span> <span>info@design.com</span> <button>Solved</button></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="center">
            <div class="center-left">
                <img src="../../static/images/echarts-pic2.png" alt="">
            </div>
            <div class="center-right">
                <ul>
                    <li>NEWS</li>
                    <li>SPORT</li>
                    <li>WEATHER</li>
                    <li>FUTURE</li>
                    <li>TRAVEL</li>
                    <li>CHANNELS</li>
                    <li>CULTURE</li>
                    <li>AUTOS</li>
                    <li>FOOD</li>
                    <li>RADIO</li>
                    <li>OVERVIEW</li>
                    <li>NATURE</li>
                    <li>LOCAL</li>
                    <li>EARTH</li>
                    <li>TIMELINE</li>
                    <li>MUSIC</li>
                    <li>SHOP</li>
                    <li>TV</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
